manifest {
  mainScript = 'confor.nf'
  description = 'exportable pipeline'
} 

report {
       enabled = true
       file = 'report.html'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /pasteur --home $HOME:/home/$USER"
}

executor {
    name = 'slurm'
    queueSize = 500
	queueStatInterval = '5min'
	exitReadTimeout = '600sec'
}

profiles {
        pasteurcluster{
	    process.executor ='slurm'
	    process.queue= 'common,dedicated'
	    process.clusterOptions = '--qos fast'
    }
}


process{
	shell = ['/bin/bash', '-ueo','pipefail']
    executor ='local'
	cpus = 1
	memory='3G'

    withLabel : pastml {
        container = 'evolbioinfo/pastml:v1.9.33'
        cpus = 5
        memory='5G'
    }

    withLabel : pcoc_old {
        //container = 'file:///pasteur/zeus/projets/p01/Evolbioinfo/users/mamorel/.Singularity_NF/pcoc_latest.sif'
        container = 'carinerey/pcoc:v1.0.1'
        //container = 'carinerey/pcoc:v1.1.0'
        cpus = 4
        memory='2G'
    }

    withLabel: python {
        container = 'evolbioinfo/python-evol:v3.7.3condor' //to update need to add statsmodels.api and statsmodels.stats
    }

}
